@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
html {
  font-size: 14px;
}

@layer components {
  .transaction-add-form {
    grid-template-areas:
      'amount amount'
      'direction payment-mode'
      'category timestamp'
      'message message';
  }
  .transaction-direction {
    grid-area: direction;
  }
  .transaction-amount {
    grid-area: amount;
  }
  .transaction-category {
    grid-area: category;
  }
  .transaction-payment-mode {
    grid-area: payment-mode;
  }
  .transaction-timestamp {
    grid-area: timestamp;
  }
  .transaction-message {
    grid-area: message;
  }
}

