name: Build on push
on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      # TODO: Set SHA on main branch to have nx:affected command working
      # - name: Use Nx Set SHAs
      #   uses: nrwl/nx-set-shas@v3

      - name: Setup PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8.6.5

      - name: Set up NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Use cache if available
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install dependencies
        run: pnpm install

      - name: Build the application
        run: pnpm build
